@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: auto;
  width: 100vw;
  display: flex;
}

.desktop {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
}

.block {
  display: flex;
  height: 100vh;
  border: 1px solid pink;
  width: 100%;
}

.__one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  padding-left: 240px;
  padding-right: 112px;
  padding-top: 47px;
}

.__one .top {
  display: flex;
  justify-content: space-around;
  align-self: flex-start;
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.logo .rectangle_33 {
  width: 20px;
  height: 35px;
  border-radius: 20px;
  background: #f063b8;
}
.logo .rectangle_32 {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #9c69e2;
}
/* .__one .Headline {
  background: transparent;
  width: 100%;
} */

.__one nav {
  margin-left: 100px;
  width: 100%;
  display: flex;
  align-items: center;
}

.__one nav ul {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
}
.__one nav ul li {
  margin-left: 50px;
  list-style: none;
}

.__one nav ul li:hover {
  font-weight: bold;
}
.rectangle_26_white {
  width: 210px;
  height: 60px;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
}
.Request_Demo_btn {
  width: 210px;
  height: 60px;
  background: none;
  border-radius: 0px;
  border: 0;
}

.Group_57 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 16px;
}

.Group_57 p {
  padding-right: 10px;
}

.__one .Group_57 img {
  margin-left: 10px;
}

.Headline {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: url("./img/image1.png");
  background-size: contain;
  background-repeat: no-repeat;
  text-align: left;
  background-position: right bottom;
  margin-top: 143px;
}

.Headline h1 {
  color: #212353;
  font-size: 80px;
  width: 645px;
}

.Headline p {
  font-size: 18px;
  width: 380px;
  height: 120px;
  padding-top: 50px;
  margin-bottom: 50px;
  font-weight: 200;
}

.bg__one {
  position: absolute;
  top: 100px;
  left: 200px;
  max-width: 500px;
}

.learn_more {
  color: #ffffff;
  background-color: #9c69e2;
  height: 60px;
  width: 170px;
  border-radius: 50px;
  border: none;
}

.__two {
  height: 560px;
  width: 1116px;
  margin-top: 102px;
  margin-bottom: 140px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: #fff; */
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
}

.__two .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 310px;
  padding-left: 62px;
}
.__two .text h1 {
  font-size: 40px;
  font-weight: 700;
  color: #212353;
  padding-bottom: 40px;
  max-width: 475px;
  line-height: 52px;
}

.__two .text p {
  color: #4b5d68;
  max-width: 475px;
  line-height: 29px;
}

.__two img {
  height: 477px;
  width: 504px;
}

.__three {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

.three_title {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.three_title h2 {
  color: #212353;
  font-size: 40px;
  margin-bottom: 50px;
}

.three_title p {
  color: #4b5d68;
  font-size: 18px;
  width: 585px;
  line-height: 29px;
  margin-bottom: 100px;
}

.square_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  width: 100%;
}
.square {
  display: flex;
  max-width: 50%;
  height: 340px;
  justify-content: center;
  border-radius: 50px;
  align-content: flex-end;
}
.square_details {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 50px;
  align-content: space-around;
}

.square_details h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #212353;
}

.square_details p {
  font-size: 16px;
  margin-bottom: 20px;
  max-width: 220px;
  line-height: 25px;
}

.square_LM {
  width: 100%;
  display: flex;
  align-content: center;
  font-weight: bold;
}
.square_LM img {
  padding-left: 10px;
  background: transparent;
}

.rectangle_39 {
  height: 358px;
  width: 442px;
  left: 328.28515625px;
  top: 1873.0001220703125px;
  border-radius: 50px;
}

.__four {
  height: 560px;
  width: 1116px;
  margin-top: 102px;
  margin-bottom: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background: #9c69e2;
  border-radius: 50px;
  padding-left: 93px;
  overflow: hidden;
}

.__four h1 {
  color: #fff;
  font-size: 38px;
  padding-top: 10px;

  /* line-height: 52px; */
}

.test_container {
  display: flex;
  flex-direction: row;
}

.card {
  display: flex;
  width: 645px;
  height: 330px;
  background: #fff;
  border-radius: 50px;
  padding: 60px 70px 50px;
  margin-right: 20px;
  box-shadow: 0px 20px 5px #7e55b8;
}

.card img {
  max-height: 90px;
  padding-right: 30px;
}
.card p {
  height: 130px;
  width: 385px;
  font-weight: 200;
  font-size: 18px;
  line-height: 32px;
}

.card a {
  text-decoration: none;
  font-size: 14px;
  line-height: 22px;
  color: #9c69e2;
  margin-bottom: 20px;
}

.card span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  text-align: bottom;
  overflow: hidden;
}

.test_2 {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(156, 105, 226, 1) 100%
  );
}

.slide {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: #bd0000;
  padding-right: 76px;
}

.slide span {
  display: flex;
  flex-direction: row;
}

.the_dots {
  display: flex;
  justify-content: space-evenly;
  width: 55px;
  height: 10px;
  align-items: center;
}
.pink_dot {
  background: #f063b8;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}
.dots {
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 5px;
}

.left-arrow {
  padding-right: 20px;
}

.polygon1 {
  height: 14px;
  width: 14px;
  border: 2px solid #ffffff;
  transform: rotate(-45deg);
}

.__five {
  padding-left: 240px;
  padding-right: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: space-between;
}

.footer_title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}

.footer_title h1 {
  font-size: 40px;
  padding-bottom: 20px;
  color: #212353;
}

.footer_title p {
  size: 18px;
}

.btns {
  max-width: 410;
  height: 60;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row;
}

.learn_more_2 {
  color: #ffffff;
  background-color: #f063b8;
  height: 60px;
  width: 170px;
  border-radius: 50px;
  border: none;
  margin-right: 30px;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
  font-weight: lighter;
}
.footer div p {
  /* font-weight: bold */
}

.ftr_address p {
  padding-bottom: 10px;
  font-weight: 300;
}

.footer div ul {
  margin-bottom: 10px;
  line-height: 40px;
}
.footer div ul li {
  list-style: none;
}

.footer_logo {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.footer_logo p {
  padding-left: 20px;
}

.social_media_icon {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: #212353;
}

.social div {
  display: flex;
  flex-flow: row;
}
.social p {
  padding-bottom: 10px;
}
